body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color:lightcyan;
}
.header{
  background:#333;
  color:#fff;
  padding: 10px;
  
}
.footer {
  padding: 10px;
  margin: 20px;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form{
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.formField{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.label {
  margin-bottom: 5px;
  font-weight: bold;
}

.input{
    padding: 8px;
    border: 1px solid gray ;
    border-radius: 5px;
  
}

.text-area {
  padding: 8px;
  border: 1px solid gray ;
  border-radius: 5px;
}

.submitButton {
  padding: 10px 20px;
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
 
}

.submitButton:hover{
  background-color: darkgreen;
}

.errors{
  color: red
}
